* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #04152d;
  --white: #ffffff;
  --black2: linear-gradient(135deg, #080115 10%, #01081d 100%);
  --black3: linear-gradient(135deg, #020929 10%, #0f0027 100%);
  --black-lighter: #021127;
  --black-light: #173d77;
  --pink: #eb4786;
  --orange: #20f3f6;
  --gradient: linear-gradient(135deg, #FF6FD8 10%, #3813C2 100%);
}

body {
  background-color: #04152d;
}